NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=
WEB3AUTH_CUSTOM_PRIVATE_KEY=
WEB3AUTH_CUSTOM_KID=
WEB3AUTH_CUSTOM_JWKS_ENDPOINT=

NEXT_PUBLIC_GOOGLE_CLIENT_ID=

NEXT_PUBLIC_AUTH0_DOMAIN=
NEXT_PUBLIC_AUTH0_CLIENT_ID=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_PROJECT_REF=
SUPABASE_WEBHOOK_SECRET=

NEXT_PUBLIC_REOWN_PROJECT_ID=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_RESEND_KEY=
AUTH_SECRET=
AUTH_TRUST_HOST=
AUTH_APPLE_ID=
AUTH_APPLE_SECRET=

NYALA_API_KEY=
NYALA_API_SECRET=
NYALA_API_BASE_URL=
NYALA_API_BASE_PATH=
NYALA_ACCESS_WHITELIST_URL=
NYALA_WEBSITE_API_BASE_URL=
NYALA_WEBSITE_API_BASE_PATH=

COOKIEYES_WEBSITE_KEY=

GOOGLE_TAG_MANAGER_ID=
GOOGLE_TAG_MANAGER_AUTH=
GOOGLE_TAG_MANAGER_PREVIEW=

BREVO_API_KEY=

CONCEDUS_API_BASE_URL=
CONCEDUS_API_USERNAME=
CONCEDUS_API_PASSWORD=

INTERCOM_APP_ID=

NEXT_PUBLIC_SUPPORT_PHONE_NUMBER=
NEXT_PUBLIC_SUPPORT_EMAIL=

# To create new contractId
SECUPAY_MASTER_CONTRACT_ID=
SECUPAY_API_BASE_URL=
SECUPAY_CLIENT_ID=
SECUPAY_CLIENT_SECRET=
SECUPAY_WEBHOOK_SECRET=

WEBHOOK_URL=
VERCEL_AUTOMATION_BYPASS_SECRET=