@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);

  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --primary: oklch(0.63 0.1013 183.88); /* #299d90 */
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.68 0.1572 35.1); /* #e76e50 */
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.86 0.0551 171.31); /* #aedecd */
  --accent-foreground: oklch(0.24 0.0215 164.46);
  --accent-secondary: oklch(0.378 0.0437 223.59); /* #264753 */
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.704 0.04 256.788);
  --radius: 0.625rem;

  /* https://ui.shadcn.com/docs/components/chart */
  --chart-1: oklch(0.68 0.1572 35.1); /* --secondary #e76e50 */
  --chart-2: oklch(0.63 0.1013 183.88); /* --primary #299d90 */
  --chart-3: oklch(0.38 0.0438 226.15); /* #274754 */
  --chart-4: oklch(0.83 0.1185 88.35); /* #e8c468 */
  --chart-5: oklch(0.78 0.1256 59); /* #f4a462 */

  --sidebar-background: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.35 0.03 264.7);
  --sidebar-primary: oklch(0.15 0.03 264.7);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0.02 264.7);
  --sidebar-accent-foreground: oklch(0.15 0.03 264.7);
  --sidebar-border: oklch(0.93 0.02 256.5);
  --sidebar-ring: oklch(0.75 0.15 255.8);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.551 0.027 264.364);

  /* https://ui.shadcn.com/docs/components/chart */
  --chart-1: oklch(0.68 0.1572 35.1); /* --secondary #e76e50 */
  --chart-2: oklch(0.63 0.1013 183.88); /* --primary #299d90 */
  --chart-3: oklch(0.38 0.0438 226.15); /* #274754 */
  --chart-4: oklch(0.83 0.1185 88.35); /* #e8c468 */
  --chart-5: oklch(0.78 0.1256 59); /* #f4a462 */

  --sidebar-background: oklch(0.15 0.03 264.7);
  --sidebar-foreground: oklch(0.97 0.02 264.7);
  --sidebar-primary: oklch(0.99 0 0);
  --sidebar-primary-foreground: oklch(0.15 0.03 264.7);
  --sidebar-accent: oklch(0.25 0.02 264.7);
  --sidebar-accent-foreground: oklch(0.97 0.02 264.7);
  --sidebar-border: oklch(0.25 0.02 264.7);
  --sidebar-ring: oklch(0.75 0.15 255.8);
}

/* https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-secondary: var(--accent-secondary);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes flash {
    50% {
      color: var(--secondary);
    }
  }
  --radius-xl: calc(var(--radius) + 4px);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
    padding-inline: 1.5rem;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
